{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <div class="col-12">
        <h2 class="mt-5">Questions</h2>
        <div class="row question">
            <div class="col-2">
                <img class="avatar-question" src="../static/img/Pchela.jpg" alt="">
            </div>
            <div class="col-10">
                <h3><a href="question.html">{{ question.title }}</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="row">
                    <div class="col-3">
                        <h5>Answers (5)</h5>
                    </div>
                    <div class="col-1">
                        <h5> Tags:</h5>
                    </div>
                    <div class="col-md-auto">
                        <a href=""><h5>Bee Tag 1</h5></a>
                    </div>
                    <div class="col-md-auto">
                        <a href=""><h5>Bee Tag 2</h5></a>
                    </div>
                    <div class="col-md-auto row LikeSection">
                        <div class="col-md-auto">
                            <button class="Like"><i class="bi bi-hand-thumbs-up"></i></button>
                        </div>
                        <div class="col-md-auto">
                            <h5> 5</h5>
                        </div>
                    </div>
                    <div class="col-md-auto row LikeSection">
                        <div class="col-md-auto">
                            <button class="Like"><i class="bi bi-hand-thumbs-down"></i></button>
                        </div>
                        <div class="col-md-auto">
                            <h5> 1</h5>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-9">
        <hr size="5px" ; id="delimiter">

        {% for answer in answers %}
            {% include "inc/answer.html" %}
        {% endfor %}

        <hr size="5px" ; id="delimiter2">
        <div class="col-9">
            <textarea placeholder="Input your answer" id="answerInput" cols="90" rows="5"></textarea>
        </div>

        <div class="col-3">
            <button class="w-100 btn btn-lg btn-primary" id="answerButton" type="submit">Submit Answer</button>
        </div>
        <br>
        <br>
        </nav>
    </div>
{% endblock content %}

{% block side_panel %}
    {% include "inc/side_panel.html" %}
{% endblock side_panel %}

