{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <div class="col-12">
        <h2 class="mt-5">Questions</h2>
        <div class="row question">
            <div class="col-2">
                <img class="avatar-question" src="../static/img/Pchela.jpg" alt="">
            </div>
            <div class="col-10">
                <h3>{{ question.title }}</h3>
                <p>{{ question.text }}</p>
                <div class="row">
                    <div class="col-3">
                        <h5>Answers (5)</h5>
                    </div>
                    <div class="col-1">
                        <h5> Tags:</h5>
                    </div>
                    {% for tag in two_tags %}
                    {% include "inc/question_tag.html"  %}
                    {% endfor %}

                    <div class="col-md-auto row LikeSection">
                        <div class="col-md-auto">
                            <button class="Like"><i class="bi bi-hand-thumbs-up"></i></button>
                        </div>
                        <div class="col-md-auto">
                            <h5> 5</h5>
                        </div>
                    </div>
                    <div class="col-md-auto row LikeSection">
                        <div class="col-md-auto">
                            <button class="Like"><i class="bi bi-hand-thumbs-down"></i></button>
                        </div>
                        <div class="col-md-auto">
                            <h5> 1</h5>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-9">
        <hr size="5px" ; id="delimiter">

        {% for answer in page.object_list %}
            {% include "inc/answer.html" %}
        {% endfor %}
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="{% url 'question' index %}?page={{ page.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">1</a></li>

            {% if page.number > 4 %}
                <li class="page-item"><a class="page-link" href="{% url 'question' index %}?page={{ page.number|add:"-3"}}">
                    {{ page.number|add:"-3"}}</a></li>
            {% endif %}


            {% if page.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="{% url 'question' index %}?page={{ page.next_page_number }}">Next</a>
                </li>
            {% endif %}

            <li><p style="margin-left: 15px">Current page: {{ page.number }}</p></li>
        </ul>
        <hr size="5px" ; id="delimiter2">
        <div class="col-9">
            <textarea placeholder="Input your answer" id="answerInput" cols="90" rows="5"></textarea>
        </div>

        <div class="col-3">
            <button class="w-100 btn btn-lg btn-primary" id="answerButton" type="submit">Submit Answer</button>
        </div>
        <br>
        <br>
        </nav>
    </div>
{% endblock content %}

{% block side_panel %}
    {% include "inc/side_panel.html" %}
{% endblock side_panel %}

