{% load static %}

<div class="col-3 tags">
        <h2 class="mt-5">Popular Tags</h2>
        <div class="d-flex">
            <a href="{% url "tag" Bee %}"><h5 style="color: #fd7e14">Bee </h5></a>
            <a href="{% url "tag" Honey %}"><h5 style="color: darkred">Honey </h5></a>
            <a href="{% url "tag" Flower %}"><h5 style="color: mediumpurple">Flower </h5></a>
            <a href="{% url "tag" Hive %}"><h5>Hive </h5></a>
        </div>
        <div class="d-flex">
            <a href="{% url "tag" Sting %}"><h5 style="color: mediumpurple">Sting </h5></a>
            <a href="{% url "tag" Foam %}"><h5>Foam </h5></a>
            <a href="{% url "tag" Foam %}"><h5>Foam </h5></a>
            <a href="{% url "tag" Foam %}"><h5>Foam </h5></a>
        </div>

        <h2 class="mt-5">Best Members</h2>
        <div class="d-block">
            <h5 style="color: #fd7e14">Bee 2 </h5>
            <h5 style="color: darkred">Bee 3 </h5>
            <h5 style="color: mediumpurple">Bee 1 </h5>
            <h5>Bee 4 </h5>
        </div>
    </div>